# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Poetry
dist/

# Test artifacts
results/
.pytest_cache/
*.xml
*.html

# Coverage
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
